<br>
<br>
<br>
<div class="center-paginate">
  <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
</div>

<div class="pokemon-grid">
  <div class="search-container">
    <input type="text" 
    placeholder="Search Pokémon"  
    [(ngModel)]="searchQuery"  (input)="filterPokemons()" 
      class="search-bar"/>
  </div>

  
  <app-pokemon-card 
    *ngFor="let pokemon of filteredPokemons | paginate: 
    { itemsPerPage: 20, currentPage: currentPage, totalItems: totalCount }" 
    [pokemon]="pokemon">
  </app-pokemon-card>

</div>
<br>
<div class="center-paginate">
  <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
</div>
<br>
