.background-image {
    position: fixed;
    z-index: -1;


    width: 100%;
    height: 100%;

    filter: blur(3px);
}

.pokemon-grid {
    z-index: 1;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
  
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}

.search-bar{
    width: 400px;
    height: 20px;
    padding: 25px;

    font-size: 30px;
    font-weight: 600;

    border-radius: 5px;
    outline: none;

    margin: 50px 0 50px 0;
}



.center-paginate{
    display: flex;
  justify-content: center;
}


.pagination-controls span{
   font-size: 50px;
}

@media screen and (max-width: 768px) {
    .search-bar{
        width: 300px;
        height: auto;

    }
}