  
  
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}

.search-bar{
    width: 400px;
    height: 20px;
    padding: 25px;

    font-size: 30px;
    font-weight: 600;

    border-radius: 5px;
    outline: none;

    margin: 50px 0 50px 0;
}


.items-grid {
    z-index: 1;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 20px;
}

  
.item-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}
  
.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
  
button[disabled] {
    background-color: #ddd;
    cursor: not-allowed;
}

.center-paginate{
    display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
    .search-bar{
        width: 300px;
        height: auto;

    }
}