.hr{
    border: 3px solid #009ffcbd;
    border-radius: 50%;
    height: 1px;
}
.center-btns{
    display: none;
}

.text-black{
    transition: all 0.3s ease-in-out;

}
.text-black:hover{
    transition: all 0.3s ease-in-out;
    transform: translateY(-7px);
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000;
    margin-bottom: 50px;
    border-radius: 25px;
}
  
video {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 25px 2px rgb(2, 85, 194);
    border-radius: 25px;
}
  



.btns{
    transition: all 0.3s ease-in-out;
    filter: opacity(15%);

    position: absolute;
    bottom: 20px;
    display: flex;
gap:50px
}
.btns:hover{
    transition: all 0.3s ease-in-out;
    filter: opacity(100%);
}
.btns-mobile{
    display: none;

    width: fit-content;
    align-items: center;
}
.btns-mobile > button{
    border: 2px solid rgb(3, 71, 160);

    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #d8b23698;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
  
}
    


.pause-button {
    width: 50px;
    height: 50px;
    font-size: 28px;
    color: #fff;

    
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 100%;

    cursor: pointer;


}

.mute-button {
width: 50px;
height: 50px;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 100%;
    cursor: pointer;
}


@media screen and (max-width: 1535px) {
.btns{
    display: none;
}
.center-btns{
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

}
.btns-mobile{
    position: absolute;

    display: flex;

    gap:30px;
}
}


@media screen and (max-width: 1024px) {
.btns{
display: none;
}
.center-btns{
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

}

.btns-mobile{
    position: absolute;

    display: flex;

    gap:30px;
}

    
}


@media screen and (max-width: 425px) {
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000;
    margin-bottom: 50px;
}
video{
    width: 100%;
}

/* buttons */

.btns{
    display: none;
}
.btns-mobile{
    position: absolute;

    display: flex;

    gap:30px;
}



}