.splide {
    width: 95%;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
}

.splide img {
    width: 100%;
    height: 95%;
}

.splide h1 {
    font-size: 30px;
    text-align: center;
}