.splide {
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.splide img {
    width: 100%;
    height: 80%;

}


.splide h1 {
    font-size: 50px;
    text-align: center;
}