<div class="p-6 divide-y-2 divide-yellow-500
    ">
  <h1 class="text-3xl text-white mb-4">Shopping Cart</h1>

  <!-- carielze  -->
  <h1
    *ngIf="cartService.getCart().length === 0"
    class="text-2xl text-center text-gray-300 mt-10"
  >
    Your shopping cart is empty... for now!
    <br>
    <span class="text-yellow-400">
      Head to the Store to add some items!
    </span>
  </h1>

  <!-- CART-->
  <div
    *ngIf="cartService.getCart().length > 0"
    class="divide-y divide-white/10"
  >
    <div
      *ngFor="let item of cartService.getCart()"
      class="item flex justify-between p-4 rounded"
    >

      <div class="flex items-center">
        <img
          [src]="item.image"
          [alt]="item.name"
          class="w-40 h-40 object-contain rounded-lg bg-white p-2"
        />
      </div>

      <span class="text-white flex items-center">
        {{ item.name }}
      </span>

      <div class="flex items-center gap-2">
        <button (click)="cartService.decreaseQty(item.id)">-</button>
        {{ item.quantity }}
        <button (click)="cartService.increaseQty(item.id)">+</button>
      </div>

      <span class="text-yellow-400 flex items-center">
        {{ item.price * item.quantity! | currency:'USD' }}
      </span>

      <button
        (click)="cartService.removeFromCart(item.id)"
        class="remove text-red-500 text-2xl"
      >
        <i class="bi bi-trash-fill"></i>
      </button>

    </div>

    <h2 class="text-white mt-6 text-xl text-right">
      Total: {{ cartService.getTotal() | currency:'USD' }}
    </h2>
  </div>
</div>
