.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}


.remove{
    width: 125px;
    text-align: center;

    background-color: rgba(73, 73, 73, 0.1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: red;

}


.buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}
.buttons > button{
    background-color: rgb(3, 71, 160);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.Checkout{
    width: 45%;
}
.Total{
    width: 45%;
}

.bot-info{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    text-align: center;
}


@media (max-width: 600px) {
    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    .remove{
        width: 50px;
        height: 50px;
        border-radius:100%
    }
}