.card {
    border: 3px solid rgb(236, 221, 0);
    border-radius: 20px;
    background: #454545;
    box-shadow:  2px 2px 14px rgb(0, 110, 236);

    background-color: rgba(0, 0, 0, 0.767);
    width: 18rem;
    margin: 1rem;

    color: white;
    text-align: center;
    align-items: center;

}
  
.card-img-top {
    width: 100%;
    height: auto;
}
  
.card-body {
    text-align: center;

}
  
.card-title{
    font-size: 23px;
}


hr{
    border: 1px solid rgb(255, 196, 0);
}
